
/* Text formatting */
h1 {
    font-size: calc(2rem + 1vw);
    font-family: system-ui;
    text-align: center;
    font-style: normal;
    text-decoration: underline;
} 

h2 {
    font-size: calc(1.5rem + 0.8rem); 
    font-family: system-ui;
    text-align: center;
    font-style: normal;
    text-decoration: none;
} 

body {
    text-align: center;
}

p {
    font-size: 1rem; 
    font-family: system-ui;
}

.caption_style {
    font-family: David;
    font-size: 0.8rem;
}

/* images formatting */
.img-preview {
    width: 200px;  
    height: auto;  
    cursor: pointer;
}
  
.img-preview:hover {
    transform: scale(1.1);
}
  
.img-full {
    width: 600px;   
    height: auto;  
}

/* Lists formatting */

