
/* Text formatting */
h1 {
    font-size: calc(2rem + 1vw);
    font-family: system-ui;
    text-align: center;
    font-style: normal;
    text-decoration: none;
} 

h2 {
    font-size: calc(1.5rem + 0.8vw); 
    font-family: system-ui;
    text-align: center;
    font-style: normal;
    text-decoration: none;
} 

h3 {
    font-size: calc(1rem + 0.4vw); 
    font-family: system-ui;
    text-align: left;
    font-style: normal;
    text-decoration: none;
} 

h4 {
    font-size: calc(0.7rem + 0.4vw); 
    font-family: system-ui;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
} 

body {
    text-align: center;
}

p {
    font-size: 1rem; 
    font-family: system-ui;
}

.caption_style {
    font-family: David;
    font-size: 0.8rem;
}
/* ------------------- */

/* links formattink */
a {
    text-decoration: none;
    color: hsl(0, 59%, 55%);
}

a:visited{
    color: hsl(0, 59%, 40%)
}
/* ------------------- */

/* images formatting */
figure {
    display: inline-block; /* Keeps the figure inline */
    margin: 5px;             
    text-align: center;    /* Centers the caption below the image */
    border: 2px solid brown
   
}

.img-preview {
    width: 200px;  
    height: auto;  
    cursor: pointer;
}

.img-preview:hover {
    transform: scale(1.1);
}
  
.img-full {
    width: 600px;   
    height: auto;  
}
/* ------------------- */

/* Lists formatting */
.index_ul {
    font-size: 1rem; 
    font-family: system-ui;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.index_ul li {
    display: inline;
}
/* ------------------- */
